@model Aritex.Common.Models.Titulo_Tela

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Titulo_Tela</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Cuello)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Cuello)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PxK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PxK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
