@model IEnumerable<Aritex.Common.Models.Titulo_Tela>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Cuello)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Factor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consumo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PxK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Cuello)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Factor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consumo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PxK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTitulo }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTitulo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTitulo })
        </td>
    </tr>
}

</table>
